## ========== Visual Studio ==========
**/.vs/
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.VC.db
**/*.VC.opendb
**/*.vscode/

## ========== Build output ==========
**/[Bb]in/
**/[Oo]bj/
**/x64/
**/Debug/
**/Release/
**/build/
**/Build/

## ========== Compiled binaries ==========
**/*.exe
**/*.dll
**/*.lib
**/*.pdb
**/*.exp
**/*.idb
**/*.ipch
**/*.iobj
**/*.ilk
**/*.log

## ========== Precompiled headers ==========
**/*.pch
**/*.gch

## ========== CMake files ==========
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/CTestTestfile.cmake
**/install_manifest.txt

## ========== Other IDE and backup files ==========
**/*.tmp
**/*.bak
**/*.swp
**/*~
**/*.cache

## ========== Crash reports & dumps ==========
**/*.dmp

## ========== NuGet Packages ==========
**/packages/
**/*.nupkg
**/project.lock.json
**/project.fragment.lock.json

## ========== Others ==========
**/_ReSharper*/
**/*.ncb
**/*.sdf
**/*.opensdf
**/ipch/
**/*.tlog
**/*.lastbuildstate
